/* .searchbar-container {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
} */
/* 
.instalogo {
    height: 35px;
}

.instaletter {
    height: 35px;
} */

.compass {
    height: 35px;
}

.person {
    height: 35px;
}

.searchbar {
    height: 40px;
    /* border: 1px solid gray; */
    width: 25%;
}

.searchbar input {
    height: 35px;
    width: 100%;
    text-align: center;
}

.icon-cluster {
    /* border: 1px solid red; */
    width: 15%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}