.searchbar-container {
    border: 3px solid pink;
    height: 100px;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.instalogo {
    height: 40px;
}

.searchbar {
    height: 40px;
    /* border: 1px solid gray; */
    width: 25%;
}

.searchbar input {
    height: 40px;
    width: 100%;
    text-align: center;
}