.main-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.thumbnail-image {
    border: 1px solid orange;
    height: 80px;
}
.image {
    border: 1px solid green;
    height: 550px;
}


input {
    height: 70px;
    padding-left: 20px;
}

